<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="ePaymentApp.transaction.detail.title">Transaction</span> {{ transaction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ePaymentApp.transaction.name">Name</span></dt>
                <dd>
                    <span>{{ transaction.name }}</span>
                </dd>
                <dt><span jhiTranslate="ePaymentApp.transaction.uuid">Uuid</span></dt>
                <dd>
                    <span>{{ transaction.uuid }}</span>
                </dd>
                <dt><span jhiTranslate="ePaymentApp.transaction.amount">Amount</span></dt>
                <dd>
                    <span>{{ transaction.amount }}</span>
                </dd>
                <dt><span jhiTranslate="ePaymentApp.transaction.dateTime">Date Time</span></dt>
                <dd>
                    <span>{{ transaction.dateTime }}</span>
                </dd>
                <dt><span jhiTranslate="ePaymentApp.transaction.paymentDetails">Payment Details</span></dt>
                <dd>
                    <span>{{ transaction.paymentDetails }}</span>
                </dd>
                <dt><span jhiTranslate="ePaymentApp.transaction.paymentInfo">Payment Info</span></dt>
                <dd>
                    <div *ngIf="transaction.paymentInfo">
                        <a [routerLink]="['/payment-info', transaction.paymentInfo?.id, 'view']">{{ transaction.paymentInfo?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
