<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-invoice-heading" jhiTranslate="ePaymentApp.invoice.home.createOrEditLabel">Create or edit a Invoice</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ePaymentApp.invoice.invoiceNumber" for="field_invoiceNumber">Invoice Number</label>
                    <input type="text" class="form-control" name="invoiceNumber" id="field_invoiceNumber"
                           formControlName="invoiceNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ePaymentApp.invoice.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ePaymentApp.invoice.verificationNumber" for="field_verificationNumber">Verification Number</label>
                    <input type="text" class="form-control" name="verificationNumber" id="field_verificationNumber"
                           formControlName="verificationNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ePaymentApp.invoice.unitName" for="field_unitName">Unit Name</label>
                    <input type="text" class="form-control" name="unitName" id="field_unitName"
                           formControlName="unitName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ePaymentApp.invoice.totalAmount" for="field_totalAmount">Total Amount</label>
                    <input type="number" class="form-control" name="totalAmount" id="field_totalAmount"
                           formControlName="totalAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ePaymentApp.invoice.amountPaid" for="field_amountPaid">Amount Paid</label>
                    <input type="number" class="form-control" name="amountPaid" id="field_amountPaid"
                           formControlName="amountPaid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ePaymentApp.invoice.paid" for="field_paid">Paid</label>
                    <input type="checkbox" class="form-control" name="paid" id="field_paid"
                           formControlName="paid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ePaymentApp.invoice.transaction" for="field_transaction">Transaction</label>
                    <select class="form-control" id="field_transaction" name="transaction" formControlName="transaction">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="transactionOption.id === editForm.get('transaction')!.value?.id ? editForm.get('transaction')!.value : transactionOption" *ngFor="let transactionOption of transactions; trackBy: trackById">{{ transactionOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ePaymentApp.invoice.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption" *ngFor="let customerOption of customers; trackBy: trackById">{{ customerOption.phoneNumber }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
